.jumbotron {
    background: none;
    text-align: center;
}

.section-light {
    margin-bottom: 2%;
}

.section-dark {
    background-color: darkgray;
}

.skate1-color, .skate2-color, .skate3-color {
    background-color: rgba(0,0,0,0.1);
    width:auto;
    margin: 0px;
    text-align: center;
    color: white;
    border: 0;
}
.dbz-class {
    width: 100%;
    text-align: center;
    padding: 0px;
    border:3px solid dimgray; 
}
.dbz {
    width: 100%;
    height: auto;
    margin-bottom: 1%;;
}

.skb {
    padding: 0;
    margin-right: 0;
}

.coolStuffWrapper {
    margin-top: 20px;
    margin-bottom: 1%;
    
}
.cool-stf-btn{
    background-color: red;
    color: white;
    margin: auto;
    display: block;
}

.cool-stf-btn:hover {
    background-color: black;
}
.signin-card {
    padding: auto;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -o-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.signin-img {
    padding: 3%;
    margin: auto;
    display: block;
    width: 70%;
}

.signin-form {
    margin:auto;
    max-width: 350px;
}

.signin-btn {
    background-color: red;
    width: 100%;
    margin-bottom: 2%;
}

.signin-btn:hover {
    background-color: black;
}

.img-skt {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

.btn-skt {
    display: block;
    margin: auto;
    width: 50%;
    color: white;
    background-color: red;
}

.btn-skt:hover {
    background-color: black;
}

.dark-footer {
    display: block;
    text-align: center;
    margin: auto;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: black;
}

